@model ArchitectNow.Identity.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/auth.css"/>
    </environment>
}

<div class="login-container">
    <div class="login-box">
        <div class="login-header">
            <img class="login-logo" src="~/images/wmv-light-full.png"/>
        </div>
        <div class="login-body">
            <h5>Register</h5>
            <form asp-controller="Auth" asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
                <div class="form-group">
                    <input asp-for="Email" class="form-control rounded-0" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control rounded-0" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control rounded-0" placeholder="Confirm Password"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <h6>Additional Info</h6>
                <div class="form-group">
                    <input asp-for="FirstName" class="form-control rounded-0" placeholder="First Name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="LastName" class="form-control rounded-0" placeholder="Last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary rounded-0 w-100 text-uppercase" style="cursor: pointer">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>